mutwo.core
mutwo.music
mutwo.common-generators
mutwo.csound
mutwo.reaper
mutwo.midi
mutwo.isis
mutwo.abjad
mutwo.ekmelily

sphinx==4.5.0
sphinx-autodoc-annotation==1.0-1
autodocsumm==0.2.4
insipid-sphinx-theme==0.2.8
autoclasstoc==1.5.1
