mutwo.core
mutwo.music
mutwo.common
mutwo.csound
mutwo.reaper
mutwo.midi
mutwo.isis
mutwo.abjad
mutwo.ekmelily

sphinx==5.1.1
sphinx-autodoc-annotation==1.0-1
autodocsumm==0.2.9
insipid-sphinx-theme==0.3.2
autoclasstoc==1.5.1
